* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global classes */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.small-text {
  font-size: 12px;
}

/* header  */
header {
  background-color: #006ce4;
}

.logo-image img {
  height: 40px;
}

.top-right-header img {
  height: 25px;
}

.rounded-icon {
  height: 25px;
  width: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.yellow-border {
  border: 2px solid #ffb700;
}
/* main styles */

section {
  padding: 0 10%;
}

.offers {
  margin-bottom: 10px;
}

.offers h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.offers p {
  font-size: 12px;
  color: rgb(93, 93, 93);
}

.cards {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  min-width: 100%;
  min-height: 110px;
}

.left-card,
.right-card {
  width: 50%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.left-card h4,
.right-card h4 {
  font-size: 15px;
  margin-bottom: 3px;
}

.left-card p,
.right-card p {
  font-size: 11px;
  margin-bottom: 5px;
}

.left-card {
  display: flex;
  border: 1px solid rgb(222, 222, 222);
}

.left-card img {
  width: 80px;
}

.right-card {
  color: white;
  background-size: 100% auto;
  background-repeat: none;
  background-image: url(https://r-xx.bstatic.com/xdata/images/xphoto/714x300/316455553.jpeg?k=33c0362560b6aa7ff9ba2afc3ef8d120728107cf56cd1c006fcf0da8c1821735&o=);
}

/* button styles */

.blue-button {
  min-height: 25px;
  background-color: #006ce4;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 10px;
  padding: 0 10px;
  font-weight: 600;
}
/* footer styles */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid green;
  height: 80vh;
  padding: 0 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top-footer {
  display: flex;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 20%;
}

.top-footer a {
  font-size: 11px;
  text-decoration: none;
  color: #006ce4;
}

.top-footer a:hover,
.extranet a:hover {
  color: #923e01;
}

.bottom-footer {
  height: 20%;
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.extranet a {
  padding: 12px 0;
  font-size: 12px;
  color: #006ce4;
  text-decoration: none;
}

.bottom-footer p {
  font-size: 11px;
}

.copyright {
  width: 100%;
}

.gray-text {
  color: #6b6b6b;
}

.image-links {
  display: flex;
  gap: 22px;
}

.bottom-footer img {
  height: 22px;
}
